@charset "UTF-8";

.o_acrux_chat .o_acrux_chat_sidebar .o_acrux_group .o_acrux_chat_items .o_acrux_partner_sellman {
    padding-left: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    opacity: 0.8;
}

.o_acrux_chat .o_acrux_group > .o_notebook > .tab-content > #tab_content_lastes_sale,
.o_acrux_chat .o_acrux_group > .o_notebook > .tab-content > #tab_content_order {
    height: 100%;
}

.o_acrux_chat .o_acrux_group > .o_notebook > .tab-content > #tab_content_partner {
    height: 140%;
}

.o_acrux_chat .o_acrux_group > .o_notebook > .tab-content > #tab_content_lastes_sale .o_group,
.o_acrux_chat .o_acrux_group > .o_notebook > .tab-content > #tab_content_partner .o_group,
.o_acrux_chat .o_acrux_group > .o_notebook > .tab-content > #tab_content_order .o_group {
    padding: 3px;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.o_acrux_chat .o_graph_barchart {
    margin-bottom: 1em;
}

.o_acrux_chat .o_graph_barchart > svg {
    overflow: initial;
}
